


@media (min-width:1200px){
    .slider h1{
        font-size: 60px;
    }
    .about-image img{
        width: 80%;
    }
    .about-image{
        margin-right: -20px;
    }
    .about-image-text{
        bottom: 10px;
        right: 45px;
    }
    .apply-text{
        padding: 0 280px;
    }

}
@media(max-width:1200px){
    .about-image img{
        width: 75%;
    }
    .about-image-text{
        bottom: 10px;
        right: 35px;
    }
    .slider h1{
        font-size: 50px;
    }
}


@media(max-width:992px){
    .slider h1{
        font-size: 40px;
    }
    .solution-call-bg{
        margin: auto;
    }
    .solution-call::before{
        opacity: 0;
    }
    .default-title{
        text-align: center;
        margin-top: 10px;
        font-size:25px ;
    }
}
@media(max-width:768px){
    .about-image-text{
        right: 190px;
    }
    .about-image img {
        width: 65%;
    }
    .slider h1{
        font-size: 30px;
    }
    .default-info h3{
        font-size: 25px;
    }
}

