h1,h2,h3,h4,h5,h6{
    font-family: 'Rubik', sans-serif;
}
p,a,span{
    font-family: 'Roboto', sans-serif;
}
.navbar-nav li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #111111;
    padding: 0 25px;
}
.search-icon{
    font-size: 20px;
}
.nav-search{
    border-right: 1px solid #ddd;
}
.call-icon{
    font-size: 27px;
    color: #e73c3e;
}
.call-number{
    text-decoration: none;
    color: #111111;
    font-weight: 600;
}

.button{
    color: white;
    background:#e73c3e ;
    padding: 12px 45px;
    border: none;
    position: relative;
    z-index: 1;
}
.button::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #111111;
    border-radius: 5px;
    z-index: -1;
    transition: .5s;
}
.button:hover{
    color: white;
}
.button:hover::after{
    width: 100%;
}
/* navbar section end */

/* slider section start */

.slider-image{
    background-image: url(images/asset\ 19.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment: fixed;
    height: 100vh;
}
.slider .sub-heading{
    color: #e73c3e;
}
.slider h1 {
    font-weight: 500;
}
.slider p{
    color: #606060;
    font-size: 17px;
}
.slider-icons{
    position: relative;
}
.slider-icons li span::before{
    content: "";
    position: absolute;
    top: 13px;
    left:119px;
    width: 30px;
    height: 1px;
    background: #000;
    display: inline-block;
    margin-left: 10px;
}
.slider-icons ul{
    list-style: none;
}
.slider-icons ul li{
    display: inline-block;
    padding: 0 10px;
}

/* slider section end */

/* about section start */
.about-section{
    padding: 100px 0;
}
    .default-subtitle {
        font-size: 14px;
        color: #e73c3e;
    }
    
    .about-image-text{
        position: absolute;
        bottom: 0;
        right: 0;
        background-image: url(images/asset\ 20.png);
        background-size:contain;
        background-repeat: no-repeat;
        text-align: center;
        height: 175px;
        width: 175px;

    }
    .about-image-control{
        position: relative;
    }
    .about-image-text h3{
        font-size: 60px;
        color: #e73c3e;
        margin-top: 33px;
    }
    .about-image-text span{
        font-size: 14px;
        font-weight: 500;
    }
    
    .default-text{
        font-size: 14px;
        color: #606060;
    }
    .default-info strong{
        color: #606060;
    }
    .default-info ul{
        list-style: none;
        margin-left: -30px;
    }
    .default-icon{
        color: #e73c3e;
    }

/* about section end */

/* process section start */
.default-heading{
    font-size: 32px;
    font-weight: 500;
}

.gray-bg{
    background-color: #f9fafb;
}
.process-image img{
    max-width: 90%;
    height: auto;
}
.process-left-info{
    position: relative;
}
.play-button {
        position: absolute;
        bottom: 71px;
        right: 230px;
        font-size: 50px;
        background: white;
        color: #e73c3e;
        border-radius: 50%;
        height: 80px;
        width: 80px;
        text-align: center;
       
    }
.play-button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e73c3e;
    border-radius: 50%;
    animation: play-animation 1s ease-out infinite;

}
@keyframes play-animation{
    0%{
        transform:scale(1);
        opacity: 1;
    }
    25%{
        transform:scale(1.2);
        opacity: .8;
    }
    50%{
        transform:scale(1.4);
        opacity: .6;
    }
    75%{
        transform:scale(1.6);
        opacity: .4;
    }
    100%{
        transform:scale(2);
        opacity: 0;
    }

}

.card-icon{
  font-size: 50px;
  color: #e73c3e;
  z-index: 1;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background: white;
  margin: auto;
  margin-top: 10px;

}
.process-title h3{
    font-size: 23px;
    font-weight: 500;
}
.process-title p{
    font-size:15px ;
    color: #606060;
}
.guarantee-process{
    position: relative;
    overflow: hidden;
    border: none;
    transition: .5s;
   
}
.guarantee-process:hover{
    transform: translateY(-15px);
}
.guarantee-process:hover .card-icon{
    background: #e73c3e;
    color: white;
}
.guarantee-process::before{
    content: "";
    position: absolute;
    top: -110px;
    right: 0;
    left: 0;
    margin: auto;
    width: 90%;
    height: 70%;
    background: #fdebeb;
    border-radius: 50%;

}

/* process section end */

/* apply section start */
    .default-title{
        font-weight: 400;
        font-size: 33px;
        line-height: 50.4px;
    }
    .apply-list{
        list-style: none;
        position: relative;
    }
    .apply-list li{
        position: relative;
    }
    .apply-list li::before{
        content:attr(data-counter);
        position: absolute;
        top: 10px;
        left: -50px;
        width: 35px;
        height: 35px;
        background: white;
        border: 1px solid #e73c3e;
        border-radius: 50%;
        line-height: 35px;
        text-align: center;
        color: #e73c3e;
        font-size: 20px;

    }
    .apply-list li strong{
        font-size: 23px;
        font-weight: 600;
        line-height: 50px;
    }
    .apply-list::before{
        content: "";
        position: absolute;
        top: 12px;
        left: 0;
        width: 1px;
        height: 85%;
        background:#e73c3e ;
    }
    .apply-right .card{
        background: #fdebeb;
    }
/* apply section end */

/* solution section start */
.solution{
    background: #e73c3e;
}
/* solution section start */
.solution-call{
    color: #e73c3e;
    font-size: 35px;
    display: inline-block;
    line-height: 60px;
    position: relative;
   
}
.solution-call::before{
    content: "";
    position: absolute;
    top: 0;
    left: -35px;
    height: 100%;
    width: 1px;
    background: white;

}
.solution-call-bg{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: white;
    text-align: center;
  
    
}
/* company section start */
.company-section{
    margin-top: 50px;
}

.company-icon{
    font-size: 30px;
    color: #e73c3e;
}
/* company section end */

/* service-sectioin-start */
.service-section{
    background:#f9fafb ;
}
.service-title p{
    line-height: 27px;
}
.service-icon-list{}
.service-icon-box{}
.service-icon{
    font-size: 49px;
    position: relative;
    z-index: 1;
    line-height: 100px;
}
.service-icon::before{
    content: "";
    position: absolute;
    top: -23px;
    left: -30px;
    height: 100px;
    width: 100px;
    background: #ffffff;
    border-radius: 50%;
    z-index: -1;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.service-main-info h3{
    font-size: 22px;
    font-weight: 500;
    line-height: 2;
}
/* service-sectioin-end */